@model IEnumerable<Prediction.Models.Hardware.PhoneProperties>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Brand)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Model)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Storage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HasMemoryCardReader)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cpu)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CpuCoreCount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CpuSpeed)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RAM)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HasGPU)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GPU)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HeadphoneOutput)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Is2gCapable)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Is3gCapable)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Is4gCapable)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Is5gCapable)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HasBluetooth)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HasGPS)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsWifiCapable)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BuiltInCamera)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FrontCamera)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FrontCameraMegapixel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BackCameraMegapixel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaximumLensApeture)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RearCameraCount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CanRecordVideo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaxFramerateMaxResolution)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaxFramerateMinResolution)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BatteryCapacity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ExchangableBattery)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Depth)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Height)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Width)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Weight)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WirelessCharging)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WirelessStandard)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DualSim)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SimCard)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FastCharging)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WaterResistance)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OriginalPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReleaseDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductPage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.isSelected)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Brand)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Model)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Storage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HasMemoryCardReader)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cpu)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CpuCoreCount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CpuSpeed)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RAM)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HasGPU)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GPU)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HeadphoneOutput)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Is2gCapable)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Is3gCapable)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Is4gCapable)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Is5gCapable)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HasBluetooth)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HasGPS)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsWifiCapable)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BuiltInCamera)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FrontCamera)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FrontCameraMegapixel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BackCameraMegapixel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaximumLensApeture)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RearCameraCount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CanRecordVideo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaxFramerateMaxResolution)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaxFramerateMinResolution)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BatteryCapacity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExchangableBattery)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Depth)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Height)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Width)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Weight)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WirelessCharging)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WirelessStandard)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DualSim)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SimCard)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FastCharging)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WaterResistance)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OriginalPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReleaseDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductPage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.isSelected)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ConfigId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ConfigId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ConfigId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
