@model Prediction.Models.ChartManual.ManualChart
@{
    @using Prediction.Models.ChartManual
    @using Newtonsoft.Json
    ViewData["Title"] = "Chart";

    Model.SelectedItems = Model.RemoveDuplicateIds();
    Model.SelectedItems = Model.RemoveUnforecastableIds(Model.SelectedItems);
    Model.UpdateSelectedItems(Model.SelectedItems);

    foreach (string i in Model.Errors)
    {
        System.Diagnostics.Debug.WriteLine($"MAINVIEW ERRORS: {i}");
    }

}

<div class="table-wrapper-scroll-y my-custom-scrollbar">
    <form method="post">
        <table class="table table-borderless table-hover table-striped table-sm mb-0">
            <tbody>
                @for (var i = 0; i < Model.Hardware.Count(); i++)
                {
                    <tr>
                        <td>
                            <input type="hidden" asp-for="Hardware[i].ConfigId" />
                            @Model.Hardware[i].ConfigId
                        </td>
                        <td>
                            @Model.Hardware[i].Brand
                        </td>
                        <td>
                            @Model.Hardware[i].Model
                        </td>
                        <td>
                            @if (Model.Hardware[i].isSelected)
                            {
                                <text>
                                <a asp-action="RemoveFromChart" asp-route-selectedItems="@JsonConvert.SerializeObject(Model.SelectedItems)" asp-route-currentItem="@JsonConvert.SerializeObject(Model.Hardware[i].ConfigId)">Deselect</a>
                                </text>
                            }
                            else
                            {
                                <text>
                                    <a asp-action="AddToChart" asp-route-selectedItems="@JsonConvert.SerializeObject(Model.SelectedItems)" asp-route-currentItem="@JsonConvert.SerializeObject(Model.Hardware[i].ConfigId)">Select</a>
                                </text>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </form>
</div>



<div class="form-group">
    @Html.Partial("ChartPartialView/_selectedItems", Model)
</div>

<style>
    .my-custom-scrollbar {
        position: relative;
        height: 200px;
        overflow: auto;
    }

    .table-wrapper-scroll-y {
        display: block;
    }
</style>