@model Prediction.Models.ChartManual.ManualChart
@{
    @using Prediction.Models.Hardware;
    ViewData["Title"] = "HardwareDetails";

    int? selectedId = new int();

    if (Model.SelectedItems.Count() >= 1)
    {
        selectedId = Model.SelectedItems[0];
    }

    PhoneProperties selectedPhone = null;

    if (selectedId.HasValue)
    {
        selectedPhone = Model.Hardware.Where(x => x.ConfigId == selectedId).FirstOrDefault();
    }
}

<h1>HardwareDetails</h1>

@if (selectedPhone != null)
{
    <div>
        <h4>PhoneProperties</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(x => x.Hardware[0].Brand)
            </dt>
            <dd class="col-sm-10">
                @selectedPhone.Brand
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(x => x.Hardware[0].Model)
            </dt>
            <dd class="col-sm-10">
                @selectedPhone.Model
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(x => x.Hardware[0].Storage)
            </dt>
            <dd class="col-sm-10">
                @selectedPhone.Storage
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(x => x.Hardware[0].Cpu)
            </dt>
            <dd class="col-sm-10">
                @selectedPhone.Cpu
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(x => x.Hardware[0].CpuType)
            </dt>
            <dd class="col-sm-10">
                @selectedPhone.CpuType
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(x => x.Hardware[0].CpuSpeed)
            </dt>
            <dd class="col-sm-10">
                @selectedPhone.CpuSpeed;
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(x => x.Hardware[0].RAM)
            </dt>
            <dd class="col-sm-10">
                @selectedPhone.RAM
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(x => x.Hardware[0].HasGPU)
            </dt>
            <dd class="col-sm-10">
                @selectedPhone.HasGPU
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(x => x.Hardware[0].HeadphoneOutput)
            </dt>
            <dd class="col-sm-10">
                @selectedPhone.HeadphoneOutput
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(x => x.Hardware[0].Capable5g)
            </dt>
            <dd class="col-sm-10">
                @selectedPhone.Capable5g
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(x => x.Hardware[0].FrontCameraMegapixel)
            </dt>
            <dd class="col-sm-10">
                @selectedPhone.FrontCameraMegapixel
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(x => x.Hardware[0].BackCameraMegapixel)
            </dt>
            <dd class="col-sm-10">
                @selectedPhone.BackCameraMegapixel
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(x => x.Hardware[0].BatteryCapacity)
            </dt>
            <dd class="col-sm-10">
                @selectedPhone.BatteryCapacity
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(x => x.Hardware[0].ExchangableBattery)
            </dt>
            <dd class="col-sm-10">
                @selectedPhone.ExchangableBattery
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(x => x.Hardware[0].Depth)
            </dt>
            <dd class="col-sm-10">
                @selectedPhone.Depth
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(x => x.Hardware[0].Height)
            </dt>
            <dd class="col-sm-10">
                @selectedPhone.Height
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(x => x.Hardware[0].Width)
            </dt>
            <dd class="col-sm-10">
                @selectedPhone.Width
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(x => x.Hardware[0].Weight)
            </dt>
            <dd class="col-sm-10">
                @selectedPhone.Weight
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(x => x.Hardware[0].WirelessCharging)
            </dt>
            <dd class="col-sm-10">
                @selectedPhone.WirelessCharging
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(x => x.Hardware[0].DualSim)
            </dt>
            <dd class="col-sm-10">
                @selectedPhone.DualSim;
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(x => x.Hardware[0].SimCard)
            </dt>
            <dd class="col-sm-10">
                @selectedPhone.SimCard
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(x => x.Hardware[0].FastCharging)
            </dt>
            <dd class="col-sm-10">
                @selectedPhone.FastCharging
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(x => x.Hardware[0].WaterResistance)
            </dt>
            <dd class="col-sm-10">
                @selectedPhone.WaterResistance
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(x => x.Hardware[0].ReleaseYear)
            </dt>
            <dd class="col-sm-10">
                @selectedPhone.ReleaseYear
            </dd>
        </dl>
    </div>
}

